{
  "check-coverage": true,
  "per-file": true,
  "lines": 50,
  "statements": 50,
  "functions": 50,
  "branches": 40,
  "include": [
    "**/*.{js,vue}"
  ],
  "exclude": [
    "**/node_modules/**",
    "coverage/**",
    "test/**",
    "test{,-*}.js",
    "**/*.test.js",
    "**/__tests__/**",
    "test/helpers/*",
    "*.config.js",
    "webpack.config.babel.js",
    "alias.js",
    ".babelrc.js"
  ],
  "ignore-class-method": "methodToIgnore",
  "extension": [
    ".vue",
    ".js"
  ],
  "cache": true,
  "all": true,
  "report-dir": "./coverage"
}
